:root {
    --colour-white: #ffffff;
    --color-black: #000000;
}

body {
    font-family: Arial;
    font-size: 1rem;
    margin: unset;
}

.sky {
    height: 100vh;
    background-color: var(--color-black);
}

.button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .75rem 1rem;
    background-color: transparent;
    color: var(--colour-white);
    border: 1px solid var(--colour-white);
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

/* Add to future stars */
.star {
    position: absolute;    
    background-color: var(--colour-white);
    border-radius: 50%;
}

/* For the stars */
@keyframes blink {
    0% {
        opacity: 1;
    }
    10% {
        opacity: .3;
    }
    25% {
        opacity: 1;
    }
    35% {
        opacity: 1;
    }
    45% {
        opacity: .3;
    }
    60% {
        opacity: 1;
    }
}

.star--blink {
    animation-name: blink;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* Add to future message */
.message {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    margin: unset;
    color: var(--colour-white);
    opacity: 0;
    transition: opacity 1s;
}

/* For a transition effect */
.message--show {
    opacity: 1;
}

.shooting-star {    
    position: absolute;    
    height: .1rem;
    width: 7rem;
    /* White and then a really transparent white */
    background-image: linear-gradient(90deg, var(--colour-white) 1%, rgba(255, 255, 255, .1));  
    transform: rotate(-45deg);
}

@media screen and (max-width: 480px) {

    /* Centering these elements on smartphones */
    .button {
        right: unset;
        left: 50%;
        transform: translateX(-50%);        
    }

    .message {
        left: 1rem;
        transform: unset;
    }
}