:root {
    --colour-white: #ffffff;
    --color-black: #000000;
}

body {
    font-family: Arial;
    font-size: 1rem;
    margin: unset;
}

.sky {
    height: 100vh;
    background-color: var(--color-black);
}

.button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .75rem 1rem;
    background-color: transparent;
    color: var(--colour-white);
    border: 1px solid var(--colour-white);
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

/* Add to future stars */
.star {
    position: absolute;    
    background-color: var(--colour-white);
    border-radius: 50%;
}

/* For the stars */
@keyframes blink {
    0% {
        opacity: 1;
    }
    10% {
        opacity: .3;
    }
    25% {
        opacity: 1;
    }
    35% {
        opacity: 1;
    }
    45% {
        opacity: .3;
    }
    60% {
        opacity: 1;
    }
}

.star--blink {
    animation-name: blink;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* Add to future message */
.message {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    margin: unset;
    color: var(--colour-white);
    opacity: 0;
    transition: opacity 1s;
}

/* For a transition effect */
.message--show {
    opacity: 1;
}

.shooting-star {    
    position: absolute;
    top: -7rem; 
    height: .1rem;
    width: 7rem;
    /* White and then a really transparent white */
    background-image: linear-gradient(90deg, var(--colour-white) 1%, rgba(255, 255, 255, .1));  
    transform: rotate(-45deg);
    opacity: 0;
}

@keyframes falling-star {
    /* First shooting star */
    0% {
        top: 0;
        left: 13rem;        
        opacity: 0;
    }
    6% {
        top: 19rem;
        left: 6rem;
        width: 3rem;
        opacity: 1;
    }
    11% {
        top: 34rem;
        left: 0;
        width: .2rem;
        opacity: 0;
    }
    /* Second shooting star */
    12% {
        top: -7rem;
        left: 11rem;
        opacity: 0;
    } 
    17% {
        top: -2rem;
        left: 8rem;
        width: 7rem;
        opacity: 1;
    }
    26% {
        top: 19rem;
        left: -7rem;
        width: 3rem;
        opacity: 0;
    }
    /* Last one */
    40% {
        top: 12rem;
        left: unset;
        right: 0;
        width: 7rem;
        opacity: 0;       
    }
    44% {
        top: 21rem;
        right: 7rem;
        width: 4rem;
        opacity: 1;
    }    
    49% {
        top: 32rem;
        right: 16rem;
        width: .2rem;
        opacity: 0;
    }    
}

.shooting-star--falling {
    animation-name: falling-star;
    animation-duration: 11s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-delay: 4s;
    
}

@media screen and (max-width: 480px) {

    /* Centering these elements on smartphones */
    .button {
        right: unset;
        left: 50%;
        transform: translateX(-50%);        
    }

    .message {
        left: 1rem;
        transform: unset;
    }
}